

.titleHeaderContainer {
    height: 48px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

.titleHeaderArea {
    height: 48px;
}