@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'PyeongChang-Bold';
  font-style: normal;
  src: url('/fonts/PyeongChangPeace-Bold.otf') format('otf');
}

@font-face {
  font-family: 'PyeongChang-Light';
  font-style: normal;
  src: url('/fonts/PyeongChangPeace-Light.otf') format('otf');
}

:root {
  --vh: 100%;
}

html
body {  
  background-color: white;
  overflow: hidden;
  height: 100vh;
  height: var(--vh);
}

* {
  font-family: Pretendard;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input,
select:focus,
textarea {
  font-size: 16px;
}