@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'PyeongChang-Bold';
  font-style: normal;
  src: url('/fonts/PyeongChangPeace-Bold.otf') format('otf');
}

@font-face {
  font-family: 'PyeongChang-Light';
  font-style: normal;
  src: url('/fonts/PyeongChangPeace-Light.otf') format('otf');
}

body {  
  background-color: white;
  overflow: hidden;
}

* {
  font-family: Pretendard;
}